# exclude everything
*

# include source files
!Cargo.lock
!Cargo.toml
!/bin
!/crates
!/portal-bridge
!/testing
!/trin-execution
!/utp-testing

# include for vergen constants
!/.git

# include portal-accumulators, which is used in the portal-bridge Dockerfile
!/portal-accumulators
