[package]
name = "trin"
version = "0.1.0"
authors = ["https://github.com/ethereum/trin/graphs/contributors"]
edition = "2021"
rust-version = "1.66.1"
default-run = "trin"
repository = "https://github.com/ethereum/trin"
license = "GPL-3.0"
readme = "README.md"
keywords = ["ethereum", "portal-network"]
categories = ["cryptography::cryptocurrencies"]
description = "A Rust implementation of the Ethereum Portal Network"

[dependencies]
anyhow = "1.0.68"
discv5 = { version = "0.2.1", features = ["serde"] }
enr = { version = "=0.7.0", features = ["k256", "ed25519"] }
eth2_ssz = "0.4.0"
ethereum-types = "0.12.1"
ethportal-api = { path = "ethportal-api" }
hex = "0.4.3"
parking_lot = "0.11.2"
prometheus_exporter = "0.8.4"
rand = "0.8.4"
rlp = "0.5.0"
rocksdb = "0.18.0"
rpc = { path = "rpc"}
serde_json = {version = "1.0.89", features = ["preserve_order"]}
sha3 = "0.9.1"
structopt = "0.3.26"
tokio = { version = "1.14.0", features = ["full"] }
tracing = "0.1.36"
tracing-subscriber = "0.3.15"
trin-core = { path = "trin-core" }
trin-history = { path = "trin-history" }
trin-state = { path = "trin-state" }

[dev-dependencies]
ethportal-peertest = { path = "ethportal-peertest" }
ureq = { version = "2.5.0", features = ["json"] }

[workspace]
members = [
    "trin-history",
    "trin-state",
    "trin-core",
    "trin-cli",
    "ethportal-api",
    "ethportal-peertest",
    "rpc",
    "utp-testing",
]

[[bin]]
name = "purge-db"
path = "src/bin/purge_db.rs"
