[package]
name = "trin"
version = "0.1.0"
authors = ["Jason Carver <ut96caarrs@snkmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33.3"
ctrlc = "3.1.8"
discv5 = "=0.1.0-beta.4" # Temporarily lock the version until the patch below is resolved.
env_logger = "0.8.2"
eth2_ssz = "0.1.2"
eth2_ssz_derive = "0.1.0"
futures = "0.3.13"
interfaces = "0.0.7"
lazy_static = "1.4.0"
log = "0.4.14"
reqwest = { version = "0.11.0", features = ["blocking"] }
rlp = "0.5.0"
serde = {version = "1.0.125", features = ["derive"] }
serde_json = "1.0.59"
stunclient = "0.1.2"
threadpool = "1.8.1"
tracing = "0.1.26"
tracing-subscriber = "0.2.18"
tokio = {version = "1.2.0", features = ["full"]}
uint = { version = "0.8.5", default-features = false }
validator = { version = "0.13.0", features = ["derive"] }

[patch.crates-io]
discv5 = { git = "https://github.com/quilt/discv5.git", branch = "trin-quilt" }
