[package]
name = "trin"
version = "0.1.0"
authors = ["Jacob Kaufmann <jacobkaufmann18@gmail.com>", "Jason Carver <ut96caarrs@snkmail.com>"]
edition = "2021"
rust-version = "1.58.0"
default-run = "trin"
repository = "https://github.com/ethereum/trin"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cargo-release = "0.20.1"
log = "0.4.14"
tokio = { version = "1.8.0", features = ["full"] }
tracing = "0.1.26"
tracing-subscriber = "0.2.18"
trin-core = { path = "trin-core" }
trin-history = { path = "trin-history" }
trin-state = { path = "trin-state" }

[dev-dependencies]
ethportal-peertest = { path = "ethportal-peertest" }

[workspace]
members = [
    "trin-history",
    "trin-state",
    "trin-core",
    "trin-cli",
    "ethportal-peertest"
]

[patch.crates-io]
# Use temporary discv5 version
discv5 = { git = "https://github.com/ogenev/discv5.git", branch = "public_kbucket_stable" }
