[package]
name = "trin"
version = "0.1.0"
authors = ["Jason Carver <ut96caarrs@snkmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33.3"
ctrlc = "3.1.8"
lazy_static = "1.4.0"
reqwest = { version = "0.11.0", features = ["blocking"] }
serde = {version = "1.0.125", features = ["derive"] }
serde_json = "1.0.59"
threadpool = "1.8.1"
validator = { version = "0.13.0", features = ["derive"] }
