[package]
name = "trin"
version = "0.1.0"
authors = ["Jacob Kaufmann <jacobkaufmann18@gmail.com>", "Jason Carver <ut96caarrs@snkmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
tokio = { version = "1.8.0", features = ["full"] }
trin-history = { path = "trin-history" }
trin-state = { path = "trin-state" }

[workspace]
members = [
    "trin-state",
    "trin-history",
    "trin-core",
    "devp2p"
]

default-members = [
    "trin-state",
    "trin-history",
    "trin-core"
]
