[package]
name = "trin"
version = "0.1.0"
authors = ["Jacob Kaufmann <jacobkaufmann18@gmail.com>", "Jason Carver <ut96caarrs@snkmail.com>"]
edition = "2021"
rust-version = "1.56.1"
default-run = "trin"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4.14"
tokio = { version = "1.8.0", features = ["full"] }
tracing = "0.1.26"
tracing-subscriber = "0.2.18"
trin-core = { path = "trin-core" }
trin-history = { path = "trin-history" }
trin-state = { path = "trin-state" }

[dependencies.discv5]
version = "0.1.0-beta.10"
git = "https://github.com/sigp/discv5"

[workspace]
members = [
    "trin-history",
    "trin-state",
    "trin-core",
    "ethportal-peertest"
]
