[package]
name = "trin"
version = "0.1.0"
authors = ["https://github.com/ethereum/trin/graphs/contributors"]
edition = "2021"
rust-version = "1.80.0"
default-run = "trin"
repository = "https://github.com/ethereum/trin"
license = "GPL-3.0"
readme = "README.md"
keywords = ["ethereum", "portal-network"]
categories = ["cryptography::cryptocurrencies"]
description = "A Rust implementation of the Ethereum Portal Network"

[dependencies]
alloy-primitives.workspace = true
anyhow.workspace = true
clap.workspace = true
dirs = "5.0.1"
discv5.workspace = true
e2store.workspace = true
ethereum_ssz.workspace = true
ethers = { version = "2.0"}
ethers-providers = { version = "2.0", features = ["ws"] }
ethportal-api.workspace = true
futures.workspace = true
jsonrpsee.workspace = true
lazy_static.workspace = true
parking_lot.workspace = true
portal-bridge.workspace = true
portalnet.workspace = true
prometheus_exporter.workspace = true
rand.workspace = true
regex = "1.10.2"
reth-ipc.workspace = true
rpc.workspace = true
serde_json = { workspace = true, features = ["preserve_order"]}
sha3.workspace = true
surf.workspace = true
tempfile.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
tree_hash.workspace = true
trin-beacon.workspace = true
trin-history.workspace = true
trin-state.workspace = true
trin-storage.workspace = true
trin-utils.workspace = true
trin-validation.workspace = true
url.workspace = true
utp-rs.workspace = true

[dev-dependencies]
ethers-core = { version = "2.0", default-features = false}
ethers-providers = { version = "2.0", features = ["ipc"] }
ethportal-peertest = { path = "ethportal-peertest" }
serde_yaml.workspace = true
serial_test.workspace = true
ureq.workspace = true

[workspace]
members = [
    "ethportal-api",
    "ethportal-peertest",
    "e2store",
    "light-client",
    "trin-metrics",
    "portal-bridge",
    "rpc",
    "trin-beacon",
    "trin-execution",
    "trin-history",
    "trin-state",
    "trin-storage",
    "trin-utils",
    "trin-validation",
    "utp-testing",
]

[workspace.dependencies]
alloy-consensus = "0.3.1"
alloy-primitives = "0.8.0" 
alloy-rlp = "0.3.8"
anyhow = "1.0.68"
async-trait = "0.1.68"
bytes = "1.3.0"
chrono = "0.4.38"
clap = { version = "4.2.1", features = ["derive"] }
delay_map = "0.4.0"
directories = "3.0"
discv5 = { version = "0.4.1", features = ["serde"] }
e2store = { path = "e2store" }
env_logger = "0.9.0"
eth_trie = { tag = "v0.1.0-alpha.1", git = "https://github.com/ethereum/eth-trie.rs" }
ethereum_ssz = "0.7.1"
ethereum_ssz_derive = "0.7.1"
ethportal-api = { path = "ethportal-api" }
futures = "0.3.23"
hex = "0.4.3"
hyper = "0.14.28"
jsonrpsee = "0.20.0"
keccak-hash = "0.10.0"
lazy_static = "1.4.0"
light-client = { path = "light-client" }
parking_lot = "0.11.2"
portal-bridge = { path = "portal-bridge" }
portalnet = { path = "portalnet" }
prometheus_exporter = "0.8.4"
quickcheck = "1.0.3"
r2d2 = "0.8.9"
r2d2_sqlite = "0.24.0"
rand = "0.8.5"
reth-ipc = { tag = "v0.2.0-beta.5", git = "https://github.com/paradigmxyz/reth.git"}
reth-rpc-types = { tag = "v1.0.6", git = "https://github.com/paradigmxyz/reth.git"}
revm = { version = "14.0.1", features = ["std", "secp256k1", "serde-json"], default-features = false }
revm-primitives = { version = "9.0.1", features = ["std", "serde"], default-features = false }
rpc = { path = "rpc"}
rstest = "0.18.2"
rusqlite = { version = "0.31.0", features = ["bundled"] }
scraper = "0.18.1"
serde = { version = "1.0.150", features = ["derive"] }
serde_json = "1.0.95"
serde_yaml = "0.9.33"
serde-this-or-that = "0.4.2"
serial_test = "0.5.1"
sha3 = "0.9.1"
snap = "1.1.1"
ssz_types = "0.8.0"
strum = { version = "0.26.1", features = ["derive"] }
surf = { version = "2.3.2", default-features = false, features = ["h1-client-rustls", "middleware-logger", "encoding"] } # we use rustls because OpenSSL cause issues compiling on aarch64
tempfile = "3.3.0"
test-log = { version = "0.2.11", features = ["trace"] }
thiserror = "1.0.57"
tokio = { version = "1.14.0", features = ["full"] }
tokio-test = "0.4.2"
tracing = "0.1.36"
tracing-subscriber = "0.3.15"
tracing-test = "0.1"
tree_hash = "0.8.0"
tree_hash_derive = "0.8.0"
trin-beacon = { path = "trin-beacon" }
trin-execution = { path = "trin-execution" }
trin-history = { path = "trin-history" }
trin-metrics = { path = "trin-metrics" }
trin-state = { path = "trin-state" }
trin-storage = { path = "trin-storage" }
trin-utils = { path = "trin-utils" }
trin-validation = { path = "trin-validation" }
uds_windows = "1.0.1"
ureq = { version = "2.5.0", features = ["json"] }
url = "2.3.1"
utp-rs = { tag = "v0.1.0-alpha.13", git = "https://github.com/ethereum/utp" }
