[package]
name = "rpc"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.68"
ethportal-api = { path = "../ethportal-api", features=["server"]}
trin-core = { path = "../trin-core"}
tokio = { version = "1.8.0", features = ["full"] }
reth-ipc = { version = "0.1.0", git = "https://github.com/paradigmxyz/reth.git"}
