[package]
name = "trin-history"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/ethereum/trin/tree/master/trin-history"
license = "GPL-3.0"
readme = "README.md"
keywords = ["ethereum", "portal-network"]
categories = ["cryptography::cryptocurrencies"]
description = "History network subprotocol for Trin."
authors = ["https://github.com/ethereum/trin/graphs/contributors"]

[dependencies]
anyhow = "1.0.68"
async-trait = "0.1.53"
discv5 = { version = "0.2.1", features = ["serde"]}
eth2_ssz = "0.4.0"
ethereum-types = "0.12.1"
ethportal-api = {path = "../ethportal-api"}
parking_lot = "0.11.2"
portalnet = { path = "../portalnet" }
serde_json = "1.0.89"
tokio = { version = "1.14.0", features = ["full"] }
tracing = "0.1.36"
tree_hash = "0.4.0"
trin-utils = { path = "../trin-utils" }
trin-validation = { path = "../trin-validation" }
utp-rs = "0.1.0-alpha.5"

[dev-dependencies]
env_logger = "0.9.0"
eth2_ssz_types = "0.2.1"
httpmock = "0.6.6"
rstest = "0.11.0"
test-log = { version = "0.2.11", features = ["trace"] }
tracing-subscriber = "0.3.15"
ureq = { version = "2.5.0", features = ["json"] }
