[package]
name = "trin-history"
version = "0.1.0"
authors = ["Jacob Kaufmann <jacobkaufmann18@gmail.com>"]
edition = "2021"
rust-version = "1.62.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.57"
async-trait = "0.1.53"
bytes = "1.1.0"
discv5 = { git = "https://github.com/sigp/discv5.git", branch = "master" }
eth2_ssz = "0.4.0"
eth2_ssz_types = "0.2.1"
ethereum-types = "0.12.1"
hex = "0.4.3"
keccak-hash = "0.8.0"
parking_lot = "0.11.2"
rand = "0.8.4"
reth-primitives = { version = "0.1.0", git = "https://github.com/paradigmxyz/reth.git" }
reth-rlp = { version = "0.1.2", git = "https://github.com/paradigmxyz/reth.git" }
rocksdb = "0.18.0"
serde_json = "1.0.59"
tokio = { version = "1.8.0", features = ["full"] }
tracing = "0.1.36"
tree_hash = "0.4.0"
trin-core = { path = "../trin-core" }
ureq = { version = "2.2.0", features = ["json"] }

[dev-dependencies]
env_logger = "0.9.0"
httpmock = "0.6.6"
test-log = { version = "0.2.11", features = ["trace"] }
tracing-subscriber = "0.3.15"
