[package]
name = "trin-history"
version = "0.1.0"
authors = ["Jacob Kaufmann <jacobkaufmann18@gmail.com>"]
edition = "2021"
rust-version = "1.58.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.52"
bytes = "1.1.0"
discv5 = "0.1.0-beta.13"
eth2_ssz = "0.4.0"
eth2_ssz_derive = "0.3.0"
eth2_ssz_types = "0.2.1"
ethereum-types = "0.12.0"
hex = "0.4.3"
keccak-hash = "0.8.0"
sha2 = "0.10.1"
sha3 = "0.9.1"
log = "0.4.14"
rlp = "0.5.0"
rocksdb = "0.16.0"
serde_json = "1.0.59"
serial_test = "0.5.1"
tempdir = "0.3.7"
tracing = "0.1.26"
tracing-subscriber = "0.2.18"
tokio = { version = "1.8.0", features = ["full"] }
trin-core = { path = "../trin-core" }
