[package]
name = "trin-execution"
keywords = ["ethereum", "execution-layer"]
description = "Trin's execution used for gossiping state and soon an execution layer client for Ethereum?"
authors.workspace = true
categories.workspace = true
edition.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
alloy = { workspace = true, features = ["eips", "rpc-types-engine", "serde"] }
alloy-rlp.workspace = true
alloy-rpc-types-engine = { version = "0.11.1", default-features = false, features = ["serde"] }
anyhow.workspace = true
clap.workspace = true
ethportal-api.workspace = true
e2store.workspace = true
eth_trie.workspace = true
futures-util.workspace = true
hashbrown = "0.14.0"
humanize-duration.workspace = true
jsonrpsee = { workspace = true, features = ["async-client", "client", "macros", "server"]}
lazy_static.workspace = true
parking_lot.workspace = true
prometheus_exporter.workspace = true
rand.workspace = true
rayon = "1.10.0"
reqwest =  { workspace = true, features = ["stream"] }
revm.workspace = true
revm-inspectors = "0.15.0"
revm-primitives.workspace = true
rocksdb = "0.22.0"
serde = { workspace = true, features = ["rc"] }
serde_json.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
trin-evm.workspace = true
trin-utils.workspace = true

[dev-dependencies]
test-log.workspace = true
tracing-test.workspace = true
