[package]
name = "trin-state"
version = "0.1.0"
authors = ["Jason Carver <ut96caarrs@snkmail.com>"]
edition = "2021"
rust-version = "1.62.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.57"
async-trait = "0.1.53"
discv5 = { version = "0.2.1", features = ["serde"]}
ethereum-types = "0.12.0"
eth_trie = "0.1.0"
hex = "0.4.3"
num = "0.4.0"
parking_lot = "0.11.2"
serde_json = "1.0.59"
tracing = "0.1.36"
tokio = {version = "1.8.0", features = ["full"]}
trin-core = { path = "../trin-core" }
utp-rs = { version = "0.1.0-alpha" }
rocksdb = "0.18.0"

[dev-dependencies]
env_logger = "0.9.0"
test-log = { version = "0.2.11", features = ["trace"] }
tracing-subscriber = "0.3.15"
