[package]
name = "trin-state"
version = "0.1.0"
authors = ["Jason Carver <ut96caarrs@snkmail.com>"]
edition = "2021"
rust-version = "1.56.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
eth_trie = "0.1.0"
hex = "0.4.3"
log = "0.4.14"
num = "0.4.0"
serde_json = "1.0.59"
tracing = "0.1.26"
tracing-subscriber = "0.2.18"
tracing-futures = "0.2.5"
sha3 = "0.9.1"
tokio = {version = "1.8.0", features = ["full"]}
trin-core = { path = "../trin-core" }
rocksdb = "0.16.0"

[dependencies.discv5]
branch = "fewer-mutable-borrows"
git = "https://github.com/carver/discv5"
