[package]
name = "trin-state"
version = "0.1.0"
authors = ["Jason Carver <ut96caarrs@snkmail.com>"]
edition = "2021"
rust-version = "1.56"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
log = "0.4.14"
num = "0.4.0"
serde_json = "1.0.59"
tracing = "0.1.26"
tracing-subscriber = "0.2.18"
tokio = {version = "1.8.0", features = ["full"]}
trin-core = { path = "../trin-core" }
rocksdb = "0.16.0"

[dependencies.discv5]
version = "0.1.0-beta.10"
git = "https://github.com/sigp/discv5"