[package]
name = "trin-state"
version = "0.1.0"
authors = ["Jason Carver <ut96caarrs@snkmail.com>"]
edition = "2021"
rust-version = "1.62.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.57"
async-trait = "0.1.53"
discv5 = { git = "https://github.com/sigp/discv5.git", branch = "master" }
ethereum-types = "0.12.0"
eth_trie = "0.1.0"
hex = "0.4.3"
log = "0.4.17"
lru = "0.7.7"
num = "0.4.0"
parking_lot = "0.11.2"
serde_json = "1.0.59"
tracing = "0.1.26"
tracing-subscriber = "0.2.18"
tracing-futures = "0.2.5"
tokio = {version = "1.8.0", features = ["full"]}
trin-core = { path = "../trin-core" }
rocksdb = "0.18.0"

[dev-dependencies]
env_logger = "0.8.2"
test-log = { version = "0.2.10", features = ["trace"] }
tracing-subscriber = "0.2.18"
