[package]
name = "trin-state"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/ethereum/trin/tree/master/trin-state"
license = "GPL-3.0"
readme = "README.md"
keywords = ["ethereum", "portal-network"]
categories = ["cryptography::cryptocurrencies"]
description = "State network subprotocol for Trin."
authors = ["https://github.com/ethereum/trin/graphs/contributors"]

[dependencies]
anyhow = "1.0.68"
async-trait = "0.1.53"
discv5 = { version = "0.4.0", features = ["serde"] }
ethereum-types = "0.14.1"
ethportal-api = { path = "../ethportal-api" }
eth_trie = "0.4.0"
parking_lot = "0.11.2"
portalnet = { path = "../portalnet" }
tracing = "0.1.36"
tokio = {version = "1.14.0", features = ["full"]}
trin-validation = { path = "../trin-validation" }
utp-rs = "0.1.0-alpha.8"

[dev-dependencies]
env_logger = "0.9.0"
test-log = { version = "0.2.11", features = ["trace"] }
tracing-subscriber = "0.3.15"
