[package]
name = "light-client"
description = "Beacon chain light client implementation"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
alloy.workspace = true
anyhow.workspace = true
async-trait.workspace = true
chrono.workspace = true
ethportal-api.workspace = true
ethereum_ssz.workspace = true
figment = { version = "0.10.7", features = ["toml", "env"] }
futures.workspace = true
hex.workspace = true
jsonrpsee = { workspace = true, features = ["full"] }
log = "0.4.17"
milagro_bls = { package="snowbridge-milagro-bls", git = "https://github.com/Snowfork/milagro_bls" }
portalnet.workspace = true
reqwest.workspace = true
serde.workspace = true
serde-this-or-that.workspace = true
serde_json.workspace = true
serde_yaml.workspace = true
ssz_types.workspace = true
strum.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing.workspace = true
tracing-subscriber.workspace = true
tree_hash.workspace = true
tree_hash_derive.workspace = true
trin-validation.workspace = true

[lib]
name = "light_client"
path = "src/lib.rs"
