apiVersion: 1

# TODO(old) we can improve this, adding an array that we can use to iterate
# TODO(old) an get different datasource configurations
datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    orgId: 1
    url: {{ .PrometheusURL }}
    basicAuth: false
    isDefault: true
    editable: true
