[package]
name = "ethportal-peertest"
version = "0.1.0"
edition = "2021"
repository = "https://github.com/ethereum/trin/tree/master/ethportal-peertest"
license = "GPL-3.0"
readme = "README.md"
keywords = ["ethereum", "portal-network"]
categories = ["cryptography::cryptocurrencies"]
description = "Testing utilities for trin"
authors = ["https://github.com/ethereum/trin/graphs/contributors"]

[dependencies]
alloy-primitives = "0.6.4"
anyhow = "1.0.68"
discv5 = { version = "0.4.1", features = ["serde"] }
ethereum_ssz = { git = "https://github.com/KolbyML/ethereum_ssz.git", rev = "ec9af0923e3122353243f4f6656fd6e6e3c2e4e3" }
ethportal-api = { path="../ethportal-api"}
futures = "0.3.21"
hex = "0.4.3"
hyper = { version = "0.14", features = ["full"] }
jsonrpsee = {version="0.20.0", features = ["async-client", "client", "macros", "server"]}
rand = "0.8.4"
reth-ipc = { tag = "v0.2.0-beta.4", git = "https://github.com/paradigmxyz/reth.git"}
rpc = { path = "../rpc" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.89"
serde_yaml = "0.9"
tempfile = "3.3.0"
tokio = {version = "1.14.0", features = ["full"]}
tracing = "0.1.36"
tracing-subscriber = "0.3.15"
tree_hash = { git = "https://github.com/KolbyML/tree_hash.git", rev = "c402373ce2b430551eb8debd85512ceac9567210" }
trin = { path = ".." }
portal-bridge = { path = "../portal-bridge" }
trin-history = { path = "../trin-history" }
trin-state = { path = "../trin-state" }
trin-utils = { path = "../trin-utils" }
trin-validation = { path = "../trin-validation" }
ureq = { version = "2.5.0", features = ["json"] }

[target.'cfg(windows)'.dependencies]
uds_windows = "1.0.1"
