[package]
name = "ethportal-peertest"
version = "0.1.0"
edition = "2021"
rust-version = "1.56.1"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = "2.33.3"
hyper = { version = "0.14", features = ["full"] }
hex = "0.4.3"
log = "0.4.14"
rocksdb = "0.16.0"
serde_json = "1.0.59"
structopt = "0.3"
thiserror = "1.0.29"
tokio = {version = "1.14.0", features = ["full"]}
tracing = "0.1.26"
tracing-subscriber = "0.2.18"
trin-core = { path = "../trin-core" }
trin-history = { path = "../trin-history" }
trin-state = { path = "../trin-state" }

[dependencies.discv5]
branch = "fewer-mutable-borrows"
git = "https://github.com/carver/discv5"
